<body>
  <h1>Hello <%= @admin.first_name %>!</h1>
  <p>
    Tu t'es inscrit à l'event <%= @event.title %> sur eventop.fr 
  </p>
  <p>
    Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
  </p>
  <p> À très vite !
</body>