<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Créer un événement</title>
  </head>
<body>


<!-- Si erreur -->
<% if @event.errors.any? %>
  <div class="alert alert-danger text-center" role="alert">
    <p>Nous n'avons pas réussi à créer l'évènement pour la (ou les) raison(s) suivante(s) :</p>
    <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <!-- Formulaire création évènement -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">  
        <br><br>
        <h1>Créer un événement</h1>

        <%= form_tag url_for(action: 'create'), method: "post" do %>
          
          <div class="form-group">
            <label for="formGroupExampleInput">Titre :</label>
            <input type="text" class="form-control" id="title" placeholder="Titre">
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput">Lieu :</label>
            <input type="text" class="form-control" id="location" placeholder="Lieu">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description :</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput">Date :</label>
            <input type="date" class="form-control" id="date">
          </div>
          
          <div class="form-group">
            <label for="formGroupExampleInput">Prix:</label>
            <input type="integer" class="form-control" id="price" placeholder="Prix">
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput">Durée :</label>
            <input type="integer" class="form-control" id="duration" placeholder="Durée (en minutes, multiple de 5)">
          </div>

          <div class="actions mt-5">
            <%= submit_tag("Créer Event", :class =>"btn btn-primary btn-block") %>
            <br><br><br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>