.background-image {
  height: 400px;
  background-image: url("balloon.jpg");
  background-position-y: 40%;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
}

#showshow {
  height: 400px;
  background-image: url("confetis.jpg");
  background-position-y: 50%;
  opacity: 0.8;
}

.jumbotron h2{
  text-transform: uppercase;
  letter-spacing: .3rem;
}