<div class="container">
  <br>
  <h2> ✅ Validation du paiement de <strong><%=@event.price%> euros</strong>!</h2>
  <br>
  <h2>Votre participation à l'évènement <strong>"<%=@event.title%>"</strong>, le <%=@event.start_date%> est confirmée.</h2>
</div>